name: clang-format Check
on:
  push:
  pull_request:
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - check: 'glRemixRenderer'
            exclude: ''
          - check: 'glRemixShim'
            exclude: ''
          - check: 'shared'
            exclude: ''
    steps:
    - uses: actions/checkout@v4
    - name: Run clang-format style check
      uses: jidicula/clang-format-action@v4.16.0
      with:
        clang-format-version: '21'
        check-path: ${{ matrix.path['check'] }}
        include-regex: '^.*\.((((c|C)(c|pp|xx|\+\+)?$)|((h|H)h?(pp|xx|\+\+)?$))|(ino|pde|proto|cu|hlsl|glsl))$'